<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CMART5.Properties.Settings.CMART5ConnectionString"
            connectionString="Data Source=cmu.vanlanguni.edu.vn;Initial Catalog=CMART5;user id=CMART5;password=hislespiru"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>